app = "po-report-fetcher"
primary_region = "iad"

[build]

[env]
  PORT = "8502"

[http_service]
  internal_port = 8502
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024
