# fly.toml app configuration file generated for po-grn-report-fetch on 2025-12-05T00:23:32+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'po-grn-report-fetch'
primary_region = 'iad'

[build]

[env]
  PORT = '8502'

[http_service]
  internal_port = 8502
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
